{#
    Copyright © 2014 mparaiso <mparaiso@online.fr>. All Rights Reserved.
    views/profile/playlist-update.twig
#}
{% extends 'layout.twig' %}
{% block profile_content %}
<h1>Update Playlist {{playlist.toString()}}</h1>
<form action="" role='form' class="form-horizontal col-md-6" method="POST">
	<fieldset>
		{% for field in form.getFields() %}
		<div class="form-group">
			{{field.toHTML()}}
		</div>
		{% endfor %}
		<input type="reset" class="btn btn-default" >
		<input type="submit" class="btn btn-default" >
		<input type="hidden" name="_csrf" value="{{_csrf}}">
	</fieldset>
</form>
{% endblock %}
