node_modules
temp
=======
*lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
manifest.yml
doc
pids
logs
results
build
temp
node_modules
coverage
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

.idea

