<!-- flash messages -->
{% for type,messages in flash %}
    <ul class=" list list-unstyled bg-warning bg-{{ type }}">
        {% for message in messages %}
            <li style="padding:10px">{{ message }}</li>
        {% endfor %}
    </ul>
{% endfor %}