html(data-ng-app="mpm.video")
	link(rel='stylesheet',href='/stylesheets/styles.css')
	body
		#main= title
		.videos(data-ng-controller="VideoController")
			ul
				li(data-ng-repeat="video in videos")
					img(data-ng-src="{{video.thumbnail}}",class="thumbnail")
					div: {{video.title}}
		script(src='/javascript/vendor/angular-1.28.min.js')
		script(src="/javascript/mpm.video/main.js")