{% extends 'layout.twig' %}
{% block content %}
    <div class="jumbotron">
        <div class="row">
            <h1>Login</h1>
        </div>
        <div class="row">
            <form action="" method="POST" role="form" class="form-horizontal col-md-4">
                {% for field in form.getFields() %}
                    <div class="form-group">
                        {% autoescape false %}
                        {{ field.toHTML() }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
            </form>
        </div>
        <div class='row'>
            Need an account? <a href="/signup">Sign Up</a>.
        </div>
    </div>
{% endblock %}
