{% extends 'layout.twig' %}
{% block content %}
<div class="jumbotron">
	<h1>Profile</h1>
	<p>
		<a class="btn btn-info" href="/logout">Logout</a>
	</p>
	<div class="row">
		<div class="col-md-6 lead">
			<div>Username : {{user.username}}</div>
			<div>Email : {{user.local.email}}</div>
		</div>
	</div>
</div>
{% endblock %}