{% extends 'layout.twig' %}
{% block content %}
    <div class="jumbotron">
        <h1>Sign Up !</h1>
        <div class="row">
            <form method="post" role="form"
                  class="form-horizontal col-md-4"
                  name="registration_form">
                {% for field in form.getFields() %}
                    <div class="form-group">
                        {% if field.hasError() %}
                            <p class="text-danger">{{field.getError()}}</p>
                        {% endif %}
                        {% autoescape false %}
                        {{ field.toHTML() }}
                        {% endautoescape %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}