{# TOP NAV #}
<div class="navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{title}}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="navbar-nav nav navbar-right">
				<li>
					<form class="navbar-form col-md-3" action="/search" role="form">
						<div class="form-group">
							<div class="col-lg-6">
								<div class="input-group">
									<input required type="search" name="q" class="form-control" style="width:300px">
									<span class="input-group-btn" style="width:inherit;">
										<button class='btn btn-default' type="submit">
											<span class="glyphicon glyphicon-search"></span> 
											Search
										</button>
									</span>
								</div>
							</div>
						</div>
					</form>
				</li>
				{% if user %}
				<li class="divider"></li>
				<li><a href="/profile/video/new">Add a video</a></li>
				<li><a href="/profile/video">Manage Videos</a></li>
				<li>
					<span class="navbar-text">
						Welcome back <a href="/profile">{{user.username}}</a> | 
						<a href="/logout">Log out</a>
					</span>
				</li>
				{% else %}
				<li><a href="/login">Log in</a></li>
				<li><a href="/signup">Join</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{# END TOP MENU #}