*{
	border-radius: 0 !important;
}
body{
	font-family: "PT sans",sans-serif;
}
.video{
	word-break:break-all;
}
.video img{
	vertical-align: top;
}
.video .owner{
	font-size: 0.8em;
	color:gray;
}
.video .info{
	display: inline-block;
}
.video .thumb{
	width:165px;
}