* {
    border-radius: 0 !important;
}

body {
    font-family: "PT sans", sans-serif;
    font-size: 1.5em;
}
.text-small{
    font-size:0.8em;
}

.video {
    word-break: break-all;
}

.video img {
    vertical-align: top;
}

.video .owner {
    font-size: 0.8em;
    color: gray;
}

.video .info {
    display: block;
}
a .thumb{
    overflow:hidden;
    height:90px;
}
.video .thumb {
    width: 160px;
}

.text-error {
    color: #ff7902;
}
footer{
    margin-top: 100px;
	min-height: 100px;
}
.inline{
    display: inline;
}
.no-top{
    margin-top:0!important;
}
/**
 * TYPOGRAPHY
 */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/**
 * BOOTSTRAP OVERRIDE
 */
.navbar-brand{
    font-family: Oswald,Arial,sans-serif;
}

